/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

:root {
    --primary: #1a81ff;         
    --secondary: #ff6f61;        
    --header-color: #f7f7f7;     
    --header2-color: #ffffff;   
    --secondary-text: #656565;   
    --green: rgba(26, 129, 57, 1);
    --black: rgba(38, 39, 38, 1);
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

i {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Global utility classes (optional) */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
